
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body,
html {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 231, 231);
    font-family: Lexend-thin;


.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}
}


nav{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
}

.nav1{
    ;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.nav2,.nav3{

    gap:23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav3{
    display: none;
    gap:23px;
    
    justify-content: space-between;
    align-items: center;
}
.nav1>.logo{
    align-items: center;
    gap: 10px;
    display: flex;

}
.logo>h4{
    font-size: 30px;
}
.logo>img{
    border-radius: 10%;
    width: 40px;
    height: auto;

}

.nav2{
    border: solid black 1px;
    padding: 10px 20px;
}

@media screen and (max-width:768px){
    nav{
        flex-direction: column;
        gap:15px;
    }

}
@media screen and (max-width:920px){
    .nav1
        {
        display: flex;
        justify-content: left;
        flex-wrap: nowrap;
        font-size: .8em;
        flex-direction: column;
        gap:15px;
    }

    


}