
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body,
html {
    background: url(https://images.unsplash.com/photo-1615715757486-a506c8c596fd?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 100%;
    width: 100%;
    background-color: rgb(255, 231, 231);
    font-family: roboto;


.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}
}


nav{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
}

.nav1{
        
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.nav2>h4{
    border: solid black 1px;
    border-radius: 20px;
    padding:5px 10px;
    text-wrap: nowrap;
}

.nav2,.nav3{

    gap:23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav3{
    display: none;
    gap:23px;
    
    justify-content: space-between;
    align-items: center;
}
.nav1>.logo{
    align-items: center;
    gap: 10px;
    display: flex;

}
.logo>h4{
    font-size: 30px;
}
.logo>img{
    border-radius: 10%;
    width: 40px;
    height: auto;

}

.nav2{
    /* border: solid black 1px; */
    padding: 10px 20px;
}

@media screen and (max-width:600px){
    nav{
        font-size: 2vmax;
        flex-direction: column;
        gap:15px;
        position:fixed;
    }

}
@media screen and (max-width:920px){
    .nav1
        {
        display: flex;
        justify-content: left;
        flex-wrap: nowrap;
        font-size: .8em;
        flex-direction: column;
        gap:15px;
    }

}

.section1{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:08px;
    padding: 0px 20px;
    font-size: 40px;
}


.section2{
    width: 100%;
    height: auto;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-between;
    text-align: center;
    gap:50px;
    padding: 50px 20px;
    font-size: 20px;
}

.right{
    width: 50%;
}
.right>img{
    width: 90%;
    height: auto;
    border-radius: 10px;
}
.left{
    
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:20px;
}  

.left>h1{

    font-size: 100px    ;

}

.buttons{
    display: flex;
    gap:40px;
    align-items: center;
    justify-content: center;
    margin:  05px;
}

.buttons:hover{
    background-color: black;
    color: white;
    opacity: 0.8;
    transform: scale(1.1);
    transition: 0.3s;
}

button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: white;
}

@media (max-width:600px){
    .nav2{
        font-size: 2vw;
    }
    .right,.left{
        width: 100%;
    }
    .right>img{
        width: 100%;
    }
}

.nav2>h4:hover{
    /* border: solid #4a70a9 1px; */
    background-color:#4a70a9 ;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.3s;
}

@media (max-width:600px) {
    nav{
        padding:15px 10px;
    }
    .nav2{
        display:none;
    }
    .nav3{
        display:flex;
    }
    
